:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    
    color: #242424;
    /*background-image:linear-gradient(to bottom right,rgb(255, 255, 255),rgba(255, 0, 0, 0.684));*/
    height:100%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
  color: #5a61ea;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #060404;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -160px;
    background-color: #eb2f2f; /* Red */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px;
}

.sidebar.open {
    left: 0;
}

.content.open {
    margin-left: 100px;
    vertical-align: middle;
}

.content {
    margin-inline: auto;
    padding: 1px 16px;
    vertical-align: middle;
}

input, textarea {
  color:#242424;
  background-color:#ffffff; 

}
